.footer > div {
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-content: start;
}

.footer > div > h3 {
    color: var(--quartenary-color);
}

.footer > p {
    color: var(--quartenary-color)
}

.footer > hr {
    background : var(--tertiary-color) ;
    height :1px ;
    width : 90vw ;
}
