/*------------------------*\
    In the name of Allah
\*------------------------*/
/**
* This CSS stylesheet contains the style
* related to the header section that is
* used throughout the website.
**/
/*------------------------*\
\*------------------------*/
.header-container {
    padding-top : 1em ;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-menu {
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 5em;
   margin-right: 4em;
}

.header-menu-items {
    text-decoration: none;
    text-transform :uppercase ;
    color: var(--quartenary-color);
}

.header-logo {
    background-color : var(--quartenary-color) ;
    height: 6em ;
    width: 6em;
    border-radius: 50%;
    margin-left: 100px;
    display: flex;
}

.header-logo > img {
    border-radius: 50%;
}