
.grid-container {
    height: 100vh;
}

.header-menu-items {
  text-decoration: none;
}

.content {
    padding: 1em 1em;
}

.tab-indicator {
    margin-top: 15px;
    display: flex ;
    height: 3px;
    width: 100%;
    background-color:var(--tertiary-color);
    position: relative;
    z-index: -1;
}

.tab-indicator::after {
    content: "";
    height: 100%;
    scale: 1 1.5;
    width: var(--width, 0) ;
    background-color: #6E07F3;
    position: absolute;
    translate: var(--left , 0) ;
    transition-property: translate ;
    transition-duration: 0.4s ;
    top: 0 ;
    left : 0 ;
    bottom: 0;
}


.tab-content {
    display: none;
    margin: 20px 0 ;
}

.show-tab {
    display: block;
}

.tab-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-text {
    font-size: 1.5em;
    text-align: center;
}

.tab-img {
    width : 50px ;
    aspect-ratio: auto;
}

.tab-list {
    display: flex ;
    justify-content: space-around;
    gap : 10px
}

@media screen and (max-width: 650px) {
    .tab-text {
        font-size: 1.25em;
    }
}


@media screen and (max-width : 500px) {
    .footer-upper {
        text-align: center;
    }
    .footer-lower {
        text-align: center;
    }
    .tab-text {
        font-size: 1em;
    }
}

@media screen and (max-width: 380px) {
    .content {
        padding: 1em 0.5em;
    }
    .tab-list {
        gap: 5px;
    }
    .tab-text {
        font-size: 0.9em;
        font-weight: bold;
    }
}



